@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto+Condensed:400,700');
html,
body {
    font-family:'Open Sans', 'Roboto Condensed',  sans-serif;
    font-size: 14px;
    color: #333030;
    width: 100%;
    padding: 0;
    font-family: ;
    font-weight: 300;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after { clear: both }
.clearfix { *zoom: 1; }

*,
*:before,
*:after {
    -webkitbox-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

section { 
    padding: 80px 0px 80px 0px;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    max-width: 100%;
}

.bg_overlay {
/*	background:rgba(0, 0, 0, .5);*/
    background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(220,45,85,0.57));
    background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(220,45,85,0.57));
    background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(220,45,85,0.57));
    background: linear-gradient(to right, rgba(255,0,0,0), rgba(220,45,85,0.57));
	width:100%;
	top:0;
	left:0;
}

.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

/* ======== LINKS AND BUTTONS ======== */
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

ul, 
ol {
    list-style: none;
    padding: 0;
}
.head_title {
	padding-bottom: 40px;
}

/* ========== COLOR BG ==========*/
.bg-light {
	background: #ffffff;
}
.bg-primary {
	background: #eaedf2;
}

/* ========== CUSTOM TEXT ==========*/
.grey-text {
    font-size: 2.7rem;
    font-weight: 800;
	color : #e3e3e9;
    text-transform: uppercase;
}
.white-text {
    font-size: 1.2rem;
    font-weight: 600;
	color: #f5edee;
    text-transform: uppercase;
}
.gradient-text {
    font-size: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(#4a3e4c, #da4847);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

/*==================
    NAVBAR
==================*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition:all 0.7s ease 0s;
    padding: 25px 0px 15px 0px;
    -webkit-transition:all 0.7s ease 0s;
    -moz-transition:all 0.7s ease 0s;
    -o-transition:all 0.7s ease 0s;
    -ms-transition:all 0.7s ease 0s;
}
.navbar-default .navbar-brand {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
.navbar-default .navbar-brand span {
    color: #da4847;
}
.navbar-default .navbar-nav li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .7s ease 0s;
    -webkit-transition: all .7s ease 0s;
    -moz-transition: all .7s ease 0s;
    -ms-transition: all .7s ease 0s;
    -o-transition: all .7s ease 0s;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #da4947 !important;
    background-color:  transparent;
}



/*==================
    BANNER
==================*/
.banner {
    background: url(../images/banner-home.jpg) no-repeat center center;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner_home {
    height: 100vh;
}
.banner_detail {
    position: relative;
    padding-top: 230px;
}
.banner_detail img{
    display: inline-block;
    border: 8px solid #72484a;
    border-radius: 50%;
    width: 9rem;
    margin-bottom: 10px; 
}

/* mouse icon */
.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 100px
}
.scroll-downs:hover {
	cursor: pointer;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 55px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

/*==================
    ABOUT
==================*/
.main_about_content p {
	padding: 30px 0px;
}
.detail_about li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 2;
}
.detail_about li b {
    color: #da4947;
}
.main_about_content .cover-img {
	border: 8px solid #da4847;
    width: 400px;
    margin: auto 60px;
    transition: 0.4s ease-in-out 0s;
    cursor: pointer;
}
.main_about_content img {
    width: 400px;
    transition: 0.4s ease-in-out 0s;
}
.main_about_content .cover-img:hover img {
	transform: translate(-50px,30px);
    transition: 0.4s ease-in-out 0s;
}
@media (max-width : 767px ) {
    .main_about_content .cover-img,
    .main_about_content img {
        width: 200px;
    }
}

/*==================
    SKILL
==================*/
#skill {
    background: url(../images/bg-parallax.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.main_skill_area .head_title h2{
    font-size: 40px; 
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
.main_skill_area .head_title p {
	font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.main_skill_area {
	padding: 40px 0px 80px 0px;
}
.main_skill_area .head_title .gradient-text {
	color: #fff;
}
.skills_item {
    position: relative;
    margin-top: 12px;
    margin-bottom: 50px;
    background: #000;
    border-radius: 10px;
}

.skills_item_progress {
    position: relative;
    width: 100%;
    height: 5px;
    background: #da4847;
    border-radius: 10px;
}

.color-bg .skills-item_progress {
    background-color: #fff;
}

.skills_item_progress:after {
    background: none;
    box-shadow: 0 0 0 5px;
    opacity: 0.3;
}

.skills_item .counter {
    position: absolute;
    display: block;
    font-size: 15px;
    text-align: center;
    width: 46px;
    height: 24px;
    line-height: 24px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 15px;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(50%, -100%);
    -moz-transform: translate(50%, -100%);
    -ms-transform: translate(50%, -100%);
    -o-transform: translate(50%, -100%);
    transform: translate(50%, -100%);
}

.img-bg .skills_item .counter, 
.color-bg .skills_item .counter {
    color: #fff;
}

.skills .progress_title {
    color: #fff;
    margin-top: 17px;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
}


/*==================
    EXPERIENCES
==================*/
.experiences {
	color: #333030;
}
.main_experiences_area {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    padding: 45px;
    background: #fff;
    margin-bottom: 45px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.timeline {
    border-left: 3px solid #da4847;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    padding: 0 30px;
    margin-left: 280px;
}
.timeline .item {
    position: relative;
    margin-bottom: 45px;
}

.timeline .item:before {
    content: "";
    position: absolute;
    left: -43px;
    top: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #fff;
    border: 3px solid #da4847;
}
.timeline .work-place {
    position: relative;
}
.timeline .place {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
}
.timeline .location {
    position: absolute;
    right: 0;
    top: 2px;
    color: #8a8a8a;
}
.timeline .location .fa {
    margin-right: 5px;
}
.timeline .job-meta {
    position: absolute;
    left: -280px;
    top: 0;
}
.timeline .job-meta .title {
    font-size: 18px;
    color: #da4847;
}
.timeline .job-meta .time {
    color: #8a8a8a;
}
.timeline .job-desc {
    color: #666;
}
.timeline .item:after {
    content: "";
    position: absolute;
    left: -37px;
    top: 6px;
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #da4847;
    z-index: 10;
}
@media (max-width : 767px ) {
    .main_education_area {
        padding: 30px;
    }
    .timeline {
	   margin-left: 0;
        padding-right: 0;
    }
    .timeline .job-meta {
        position: static;
        margin-bottom: 15px;
    }
}


/*==================
    SERVICES
==================*/
.single_service {
    padding: 0 20px;
    transition: 0.2s ease-out;
    margin-bottom: 25px;
}
.single_service i.fa {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
    width: 50px;
    color:  #da4847;
    height: 50px;
    border: 1px solid #da4847;
    display: inline-block;
    line-height: 50px;
    font-size: 25px;
    border-radius: 50px;    
}
.single_service h4 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
    clear: right;
	font-size: 23px;
}
.single_service p {
    margin-top: 10px;
    overflow: hidden;
    color: #666;
}
